<div class="container">
    <div class="row">
        <app-dogs-search-form (onSubmit)="handleSearch($event)"></app-dogs-search-form>
    </div>
    <div class="row">
        <div class="col">
            <app-dog-list [dogs]="dogsToDisplay"></app-dog-list>
        </div>
    </div>
    <div class="row">
        <div class="col justify-content-start">
            <app-pager [pageSize]="pageSize" [currentPage]="currentPage" [list]="dogsToDisplay"
                [totalNumOfItems]="dogsFiltered.length" (onNext)="handleNext($event)"
                (onPrevious)="handlePrevious($event)">
            </app-pager>
        </div>
    </div>
</div>