<div class="container">
    <div class="row">
        <div class="col">
            <app-success-alert *ngIf="successEdigMsg" [message]="successEdigMsg"></app-success-alert>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <button type="button" class="btn btn-secondary" routerLink="/">Back</button>
            <form [formGroup]="editForm" (ngSubmit)="handleSubmit()" class="m-5">

                <div class="row justify-content-center">
                    <div class="col-4">
                        <label for="name" class="form-label">Name: </label>
                        <input id="name" class="form-control" type="text" formControlName="name">
                    </div>
                </div>
                <div class="row justify-content-center">

                    <div class="col-4">
                        <label for="breed" class="form-label">Breed: </label>
                        <input id="breed" class="form-control" type="text" formControlName="breed">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <label for="age" class="form-label">Age: </label>
                        <input id="age" class="form-control" type="number" formControlName="age">
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-4">
                        <label for="foundAt" class="form-label">Found At: </label>
                        <input id="foundAt" class="form-control" type="date" formControlName="foundAt">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <label for="adoptedAt" class="form-label">Adopted At: </label>
                        <input id="adoptedAt" class="form-control" type="date" formControlName="adoptedAt">
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-4 d-flex align-items-end mt-2 justify-content-between">
                        <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Submit</button>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-end">
                <button (click)="deleteDog()" class="btn btn-danger">Delete</button>
            </div>

        </div>
    </div>
</div>